<div class="chat-container px-4 xl:px-0 w-full max-w-[600px] m-auto">
    <ul class="messages-list">
        <li *ngFor="let message of messages" class="message-item">
        {{ message }}
        </li>
    </ul>
    <div class="message-input">
        <label for="label_message" class="block mb-2 text-sm font-medium"
          >Mensaje</label
        >
        <input class="w-full p-3 rounded-md text-sm bg-transparent border-gray-500 border" type="text" [(ngModel)]="newMessage" placeholder="Escribe tu mensaje aquí..." (keypress)="onEnter($event)">
        <button (click)="sendMessage(newMessage)">Enviar</button>
    </div>
</div>
<!-- 
<div class="px-4 xl:px-0 w-full max-w-[600px] m-auto">
    <form (ngSubmit)="createContact()">
        <form [formGroup]="form" (ngSubmit)="createContact()">
      <div class="mb-8">
        <label for="first_name" class="block mb-2 text-sm font-medium"
          >First name</label
        >
        <input
          type="text"
          id="first_name"
          class="w-full p-3 rounded-md text-sm bg-transparent border-gray-500 border"
          placeholder="John Doe"
          formControlName="fullName"
        />
      </div>
      <div class="mb-8">
        <label for="email" class="block mb-2 text-sm font-medium"
          >Email</label
        >
        <input
          type="text"
          id="email"
          class="w-full p-3 rounded-md text-sm bg-transparent border-gray-500 border"
          placeholder="example@mail.com"
          formControlName="email"
        />
      </div>
    </form>
</div>  -->