<div class="flex-wrap -mx-3 mb-5">
  <div class="w-full max-w-full px-3 mb-6  mx-auto">
    <div class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] bg-white m-5">
      <div class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30">
        <!-- card header -->
        <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
          <h3 class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/tight text-dark">
            <span class="mr-3 font-semibold text-dark">Citas reservadas</span>
            <span class="mt-1 font-medium text-secondary-dark text-lg/normal">Todas citas reservadas por peluqueria</span>
          </h3>
          <div class="relative flex flex-wrap items-center my-2">
            <a href="/dashboard/create-quote" class="w-full mt-6 mb-3 bg-indigo-100 rounded-lg px-4 py-2 text-lg text-gray-800 tracking-wide font-semibold font-sans">Nueva Cita</a>
          </div>
        </div>
        <!-- end card header -->
        <!-- card body  -->
        <div class="flex-auto block py-8 pt-6 px-9">
          <div class="overflow-x-auto">
            <table class="w-full my-0 align-middle text-dark border-neutral-200">
              <thead class="align-bottom">
                <tr class="font-semibold text-[0.95rem] text-secondary-dark">
                  <th class="pb-3 text-start min-w-[175px]">Nombre</th>
                  <th class="pb-3 text-end min-w-[100px]">Estilista</th>
                  <th class="pb-3 text-end min-w-[100px]">Fecha de reserva</th>
                  <th class="pb-3 pr-12 text-end min-w-[175px]">Peluqueria</th>
                  <th class="pb-3 pr-12 text-end min-w-[175px]">Estado</th>
                </tr>
              </thead>
              <tbody>
                @for (item of localquotes; track $index) {
                    <tr class="border-b border-dashed last:border-b-0">
                        <td class="p-3 pl-0">
                             {{ item.name }}
                        </td>
                        <td class="p-3 pr-0 text-end">
                            <span class="font-semibold text-light-inverse text-md/normal">{{ item.estilista }}</span>
                        </td>
                        <td class="p-3 pr-0 text-end">
                            <span class="text-center align-baseline inline-flex px-2 py-1 mr-auto items-center font-semibold text-base/none text-success bg-success-light rounded-lg">
                                {{ item.fecha_reserva }}
                            </span>
                        </td>
                        <td class="p-3 pr-12 text-end">
                            <span class="text-center align-baseline inline-flex px-4 py-3 mr-auto items-center font-semibold text-[.95rem] leading-none text-primary bg-primary-light rounded-lg"> {{ item.peluqueria }}</span>
                        </td>
                        <td class="p-3 pr-12 text-end">
                            <span class="text-center align-baseline inline-flex px-4 py-3 mr-auto items-center font-semibold text-[.95rem] leading-none text-primary bg-primary-light rounded-lg"> In Progress </span>
                        </td>
                    </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>